In [25]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [27]:
df = pd.read_csv("1976-2020-president.csv")

In [28]:
df

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,version,notes,party_simplified
0,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"CARTER, JIMMY",DEMOCRAT,False,659170,1182850,20210113,NaN,DEMOCRAT
1,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"FORD, GERALD",REPUBLICAN,False,504070,1182850,20210113,NaN,REPUBLICAN
2,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"MADDOX, LESTER",AMERICAN INDEPENDENT PARTY,False,9198,1182850,20210113,NaN,OTHER
3,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"BUBAR, BENJAMIN """"BEN""""",PROHIBITION,False,6669,1182850,20210113,NaN,OTHER
4,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"HALL, GUS",COMMUNIST PARTY USE,False,1954,1182850,20210113,NaN,OTHER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4282,2020,WYOMING,WY,56,83,68,US PRESIDENT,"JORGENSEN, JO",LIBERTARIAN,False,5768,278503,20210113,NaN,LIBERTARIAN
4283,2020,WYOMING,WY,56,83,68,US PRESIDENT,"PIERCE, BROCK",INDEPENDENT,False,2208,278503,20210113,NaN,OTHER
4284,2020,WYOMING,WY,56,83,68,US PRESIDENT,NaN,NaN,True,1739,278503,20210113,NaN,OTHER
4285,2020,WYOMING,WY,56,83,68,US PRESIDENT,OVERVOTES,NaN,False,279,278503,20210113,NaN,OTHER
4286,2020,WYOMING,WY,56,83,68,US PRESIDENT,UNDERVOTES,NaN,False,1459,278503,20210113,NaN,OTHER

In [29]:
df = df[df.year == 2016]

In [30]:
df2 = pd.read_csv("countypres_2000-2016.csv")

In [31]:
df2

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208,20191203
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208,20191203
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208,20191203
3,2000,Alabama,AL,Autauga,1001.0,President,Other,NaN,113.0,17208,20191203
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480,20191203
...,...,...,...,...,...,...,...,...,...,...,...
50519,2016,Alaska,AK,District 40,2040.0,President,Donald Trump,republican,1377.0,4610,20191203
50520,2016,Alaska,AK,District 40,2040.0,President,Other,NaN,895.0,4610,20191203
50521,2016,Alaska,NaN,District 99,2099.0,President,Hillary Clinton,democrat,274.0,5056,20191203
50522,2016,Alaska,NaN,District 99,2099.0,President,Donald Trump,republican,40.0,5056,20191203
50523,2016,Alaska,NaN,District 99,2099.0,President,Other,NaN,28.0,5056,20191203

In [32]:
df2['pctvotes'] = df2.candidatevotes / df2.totalvotes

In [33]:
df2.year.values

array([2000, 2000, 2000, ..., 2016, 2016, 2016])

In [34]:
df2 = df2[df2.year == 2016]
df2

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version,pctvotes
40517,2016,Alabama,AL,Autauga,1001.0,President,Hillary Clinton,democrat,5936.0,24973,20191203,0.237697
40518,2016,Alabama,AL,Autauga,1001.0,President,Donald Trump,republican,18172.0,24973,20191203,0.727666
40519,2016,Alabama,AL,Autauga,1001.0,President,Other,NaN,865.0,24973,20191203,0.034637
40520,2016,Alabama,AL,Baldwin,1003.0,President,Hillary Clinton,democrat,18458.0,95215,20191203,0.193856
40521,2016,Alabama,AL,Baldwin,1003.0,President,Donald Trump,republican,72883.0,95215,20191203,0.765457
...,...,...,...,...,...,...,...,...,...,...,...,...
50519,2016,Alaska,AK,District 40,2040.0,President,Donald Trump,republican,1377.0,4610,20191203,0.298698
50520,2016,Alaska,AK,District 40,2040.0,President,Other,NaN,895.0,4610,20191203,0.194143
50521,2016,Alaska,NaN,District 99,2099.0,President,Hillary Clinton,democrat,274.0,5056,20191203,0.054193
50522,2016,Alaska,NaN,District 99,2099.0,President,Donald Trump,republican,40.0,5056,20191203,0.007911
50523,2016,Alaska,NaN,District 99,2099.0,President,Other,NaN,28.0,5056,20191203,0.005538

In [35]:
df2.FIPS.isna().sum()

9

In [36]:
df2.isna().sum()

year                 0
state                0
state_po            12
county               0
FIPS                 9
office               0
candidate            0
party             3158
candidatevotes       6
totalvotes           0
version              0
pctvotes             6
dtype: int64

In [37]:
empty = df2[df2.FIPS.isnull()]
empty

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version,pctvotes
49859,2016,Connecticut,NaN,Statewide writein,NaN,President,Hillary Clinton,democrat,NaN,5056,20191203,NaN
49860,2016,Maine,NaN,Maine UOCAVA,NaN,President,Hillary Clinton,democrat,3017.0,5056,20191203,0.596717
49861,2016,Rhode Island,NaN,Federal Precinct,NaN,President,Hillary Clinton,democrat,637.0,5056,20191203,0.125989
49862,2016,Connecticut,NaN,Statewide writein,NaN,President,Donald Trump,republican,NaN,5056,20191203,NaN
49863,2016,Maine,NaN,Maine UOCAVA,NaN,President,Donald Trump,republican,648.0,5056,20191203,0.128165
49864,2016,Rhode Island,NaN,Federal Precinct,NaN,President,Donald Trump,republican,53.0,5056,20191203,0.010483
49865,2016,Connecticut,NaN,Statewide writein,NaN,President,Other,NaN,NaN,5056,20191203,NaN
49866,2016,Maine,NaN,Maine UOCAVA,NaN,President,Other,NaN,321.0,5056,20191203,0.063489
49867,2016,Rhode Island,NaN,Federal Precinct,NaN,President,Other,NaN,38.0,5056,20191203,0.007516

In [38]:
df2 = df2.dropna(subset=['FIPS'])

In [39]:
df2.isna().sum()

year                 0
state                0
state_po             3
county               0
FIPS                 0
office               0
candidate            0
party             3155
candidatevotes       3
totalvotes           0
version              0
pctvotes             3
dtype: int64

In [40]:
df2.FIPS = df2.FIPS.apply(lambda x: int(x))
df2

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version,pctvotes
40517,2016,Alabama,AL,Autauga,1001,President,Hillary Clinton,democrat,5936.0,24973,20191203,0.237697
40518,2016,Alabama,AL,Autauga,1001,President,Donald Trump,republican,18172.0,24973,20191203,0.727666
40519,2016,Alabama,AL,Autauga,1001,President,Other,NaN,865.0,24973,20191203,0.034637
40520,2016,Alabama,AL,Baldwin,1003,President,Hillary Clinton,democrat,18458.0,95215,20191203,0.193856
40521,2016,Alabama,AL,Baldwin,1003,President,Donald Trump,republican,72883.0,95215,20191203,0.765457
...,...,...,...,...,...,...,...,...,...,...,...,...
50519,2016,Alaska,AK,District 40,2040,President,Donald Trump,republican,1377.0,4610,20191203,0.298698
50520,2016,Alaska,AK,District 40,2040,President,Other,NaN,895.0,4610,20191203,0.194143
50521,2016,Alaska,NaN,District 99,2099,President,Hillary Clinton,democrat,274.0,5056,20191203,0.054193
50522,2016,Alaska,NaN,District 99,2099,President,Donald Trump,republican,40.0,5056,20191203,0.007911
50523,2016,Alaska,NaN,District 99,2099,President,Other,NaN,28.0,5056,20191203,0.005538

In [41]:
df2['sorter'] = df2.sort_values(['candidatevotes'], ascending=False)\
                    .groupby(['FIPS'])\
                    .cumcount() + 1

In [42]:
df2

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version,pctvotes,sorter
40517,2016,Alabama,AL,Autauga,1001,President,Hillary Clinton,democrat,5936.0,24973,20191203,0.237697,2
40518,2016,Alabama,AL,Autauga,1001,President,Donald Trump,republican,18172.0,24973,20191203,0.727666,1
40519,2016,Alabama,AL,Autauga,1001,President,Other,NaN,865.0,24973,20191203,0.034637,3
40520,2016,Alabama,AL,Baldwin,1003,President,Hillary Clinton,democrat,18458.0,95215,20191203,0.193856,2
40521,2016,Alabama,AL,Baldwin,1003,President,Donald Trump,republican,72883.0,95215,20191203,0.765457,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50519,2016,Alaska,AK,District 40,2040,President,Donald Trump,republican,1377.0,4610,20191203,0.298698,2
50520,2016,Alaska,AK,District 40,2040,President,Other,NaN,895.0,4610,20191203,0.194143,3
50521,2016,Alaska,NaN,District 99,2099,President,Hillary Clinton,democrat,274.0,5056,20191203,0.054193,1
50522,2016,Alaska,NaN,District 99,2099,President,Donald Trump,republican,40.0,5056,20191203,0.007911,2
50523,2016,Alaska,NaN,District 99,2099,President,Other,NaN,28.0,5056,20191203,0.005538,3

In [43]:
df2.FIPS = df2.FIPS.apply(lambda x: str(x))

In [44]:
df2.FIPS = df2.FIPS.apply(lambda x: '0' + x if len(x)==4 else x)

In [45]:
df2

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version,pctvotes,sorter
40517,2016,Alabama,AL,Autauga,01001,President,Hillary Clinton,democrat,5936.0,24973,20191203,0.237697,2
40518,2016,Alabama,AL,Autauga,01001,President,Donald Trump,republican,18172.0,24973,20191203,0.727666,1
40519,2016,Alabama,AL,Autauga,01001,President,Other,NaN,865.0,24973,20191203,0.034637,3
40520,2016,Alabama,AL,Baldwin,01003,President,Hillary Clinton,democrat,18458.0,95215,20191203,0.193856,2
40521,2016,Alabama,AL,Baldwin,01003,President,Donald Trump,republican,72883.0,95215,20191203,0.765457,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50519,2016,Alaska,AK,District 40,02040,President,Donald Trump,republican,1377.0,4610,20191203,0.298698,2
50520,2016,Alaska,AK,District 40,02040,President,Other,NaN,895.0,4610,20191203,0.194143,3
50521,2016,Alaska,NaN,District 99,02099,President,Hillary Clinton,democrat,274.0,5056,20191203,0.054193,1
50522,2016,Alaska,NaN,District 99,02099,President,Donald Trump,republican,40.0,5056,20191203,0.007911,2
50523,2016,Alaska,NaN,District 99,02099,President,Other,NaN,28.0,5056,20191203,0.005538,3

In [46]:
win = df2[df2.sorter == 1]
win

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version,pctvotes,sorter
40518,2016,Alabama,AL,Autauga,01001,President,Donald Trump,republican,18172.0,24973,20191203,0.727666,1
40521,2016,Alabama,AL,Baldwin,01003,President,Donald Trump,republican,72883.0,95215,20191203,0.765457,1
40524,2016,Alabama,AL,Barbour,01005,President,Donald Trump,republican,5454.0,10469,20191203,0.520967,1
40527,2016,Alabama,AL,Bibb,01007,President,Donald Trump,republican,6738.0,8819,20191203,0.764032,1
40530,2016,Alabama,AL,Blount,01009,President,Donald Trump,republican,22859.0,25588,20191203,0.893348,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50509,2016,Alaska,AK,District 37,02037,President,Hillary Clinton,democrat,2421.0,5062,20191203,0.478269,1
50512,2016,Alaska,AK,District 38,02038,President,Hillary Clinton,democrat,2758.0,5095,20191203,0.541315,1
50515,2016,Alaska,AK,District 39,02039,President,Hillary Clinton,democrat,3142.0,5639,20191203,0.557191,1
50518,2016,Alaska,AK,District 40,02040,President,Hillary Clinton,democrat,2338.0,4610,20191203,0.507158,1
50521,2016,Alaska,NaN,District 99,02099,President,Hillary Clinton,democrat,274.0,5056,20191203,0.054193,1

In [47]:
win = win.drop(columns = ['year', 'state', 'office', 'version'])
win

,state_po,county,FIPS,candidate,party,candidatevotes,totalvotes,pctvotes,sorter
40518,AL,Autauga,01001,Donald Trump,republican,18172.0,24973,0.727666,1
40521,AL,Baldwin,01003,Donald Trump,republican,72883.0,95215,0.765457,1
40524,AL,Barbour,01005,Donald Trump,republican,5454.0,10469,0.520967,1
40527,AL,Bibb,01007,Donald Trump,republican,6738.0,8819,0.764032,1
40530,AL,Blount,01009,Donald Trump,republican,22859.0,25588,0.893348,1
...,...,...,...,...,...,...,...,...,...
50509,AK,District 37,02037,Hillary Clinton,democrat,2421.0,5062,0.478269,1
50512,AK,District 38,02038,Hillary Clinton,democrat,2758.0,5095,0.541315,1
50515,AK,District 39,02039,Hillary Clinton,democrat,3142.0,5639,0.557191,1
50518,AK,District 40,02040,Hillary Clinton,democrat,2338.0,4610,0.507158,1
50521,NaN,District 99,02099,Hillary Clinton,democrat,274.0,5056,0.054193,1

In [48]:
win.isna().sum()

state_po          1
county            0
FIPS              0
candidate         0
party             0
candidatevotes    1
totalvotes        0
pctvotes          1
sorter            0
dtype: int64

In [49]:
win = win.dropna()

In [50]:
win.isna().sum()

state_po          0
county            0
FIPS              0
candidate         0
party             0
candidatevotes    0
totalvotes        0
pctvotes          0
sorter            0
dtype: int64

In [51]:
wind = win[win.party == 'democrat']
winr = win[win.party == 'republican']

In [52]:
wind

,state_po,county,FIPS,candidate,party,candidatevotes,totalvotes,pctvotes,sorter
40532,AL,Bullock,01011,Hillary Clinton,democrat,3530.0,4710,0.749469,1
40586,AL,Dallas,01047,Hillary Clinton,democrat,12836.0,18792,0.683057,1
40610,AL,Greene,01063,Hillary Clinton,democrat,4013.0,4880,0.822336,1
40613,AL,Hale,01065,Hillary Clinton,democrat,4775.0,8040,0.593905,1
40625,AL,Jefferson,01073,Hillary Clinton,democrat,156873.0,304191,0.515706,1
...,...,...,...,...,...,...,...,...,...
50500,AK,District 34,02034,Hillary Clinton,democrat,4220.0,9431,0.447461,1
50509,AK,District 37,02037,Hillary Clinton,democrat,2421.0,5062,0.478269,1
50512,AK,District 38,02038,Hillary Clinton,democrat,2758.0,5095,0.541315,1
50515,AK,District 39,02039,Hillary Clinton,democrat,3142.0,5639,0.557191,1
50518,AK,District 40,02040,Hillary Clinton,democrat,2338.0,4610,0.507158,1

In [53]:
wind['perc_dem'] = wind['pctvotes']
wind['votes_dem'] = wind['candidatevotes']

In [54]:
wind

,state_po,county,FIPS,candidate,party,candidatevotes,totalvotes,pctvotes,sorter,perc_dem,votes_dem
40532,AL,Bullock,01011,Hillary Clinton,democrat,3530.0,4710,0.749469,1,0.749469,3530.0
40586,AL,Dallas,01047,Hillary Clinton,democrat,12836.0,18792,0.683057,1,0.683057,12836.0
40610,AL,Greene,01063,Hillary Clinton,democrat,4013.0,4880,0.822336,1,0.822336,4013.0
40613,AL,Hale,01065,Hillary Clinton,democrat,4775.0,8040,0.593905,1,0.593905,4775.0
40625,AL,Jefferson,01073,Hillary Clinton,democrat,156873.0,304191,0.515706,1,0.515706,156873.0
...,...,...,...,...,...,...,...,...,...,...,...
50500,AK,District 34,02034,Hillary Clinton,democrat,4220.0,9431,0.447461,1,0.447461,4220.0
50509,AK,District 37,02037,Hillary Clinton,democrat,2421.0,5062,0.478269,1,0.478269,2421.0
50512,AK,District 38,02038,Hillary Clinton,democrat,2758.0,5095,0.541315,1,0.541315,2758.0
50515,AK,District 39,02039,Hillary Clinton,democrat,3142.0,5639,0.557191,1,0.557191,3142.0
50518,AK,District 40,02040,Hillary Clinton,democrat,2338.0,4610,0.507158,1,0.507158,2338.0

In [55]:
winr['perc_rep'] = winr['pctvotes']
winr['votes_rep'] = winr['candidatevotes']

In [56]:
winr

,state_po,county,FIPS,candidate,party,candidatevotes,totalvotes,pctvotes,sorter,perc_rep,votes_rep
40518,AL,Autauga,01001,Donald Trump,republican,18172.0,24973,0.727666,1,0.727666,18172.0
40521,AL,Baldwin,01003,Donald Trump,republican,72883.0,95215,0.765457,1,0.765457,72883.0
40524,AL,Barbour,01005,Donald Trump,republican,5454.0,10469,0.520967,1,0.520967,5454.0
40527,AL,Bibb,01007,Donald Trump,republican,6738.0,8819,0.764032,1,0.764032,6738.0
40530,AL,Blount,01009,Donald Trump,republican,22859.0,25588,0.893348,1,0.893348,22859.0
...,...,...,...,...,...,...,...,...,...,...,...
50489,AK,District 30,02030,Donald Trump,republican,6194.0,8950,0.692067,1,0.692067,6194.0
50492,AK,District 31,02031,Donald Trump,republican,5617.0,10182,0.551660,1,0.551660,5617.0
50495,AK,District 32,02032,Donald Trump,republican,3764.0,7472,0.503747,1,0.503747,3764.0
50504,AK,District 35,02035,Donald Trump,republican,4105.0,9042,0.453992,1,0.453992,4105.0
50507,AK,District 36,02036,Donald Trump,republican,4460.0,8264,0.539690,1,0.539690,4460.0

In [57]:
lose = df2[df2.sorter == 2]
lose

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version,pctvotes,sorter
40517,2016,Alabama,AL,Autauga,01001,President,Hillary Clinton,democrat,5936.0,24973,20191203,0.237697,2
40520,2016,Alabama,AL,Baldwin,01003,President,Hillary Clinton,democrat,18458.0,95215,20191203,0.193856,2
40523,2016,Alabama,AL,Barbour,01005,President,Hillary Clinton,democrat,4871.0,10469,20191203,0.465278,2
40526,2016,Alabama,AL,Bibb,01007,President,Hillary Clinton,democrat,1874.0,8819,20191203,0.212496,2
40529,2016,Alabama,AL,Blount,01009,President,Hillary Clinton,democrat,2156.0,25588,20191203,0.084258,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50510,2016,Alaska,AK,District 37,02037,President,Donald Trump,republican,1938.0,5062,20191203,0.382853,2
50514,2016,Alaska,AK,District 38,02038,President,Other,NaN,1194.0,5095,20191203,0.234347,2
50516,2016,Alaska,AK,District 39,02039,President,Donald Trump,republican,1405.0,5639,20191203,0.249158,2
50519,2016,Alaska,AK,District 40,02040,President,Donald Trump,republican,1377.0,4610,20191203,0.298698,2
50522,2016,Alaska,NaN,District 99,02099,President,Donald Trump,republican,40.0,5056,20191203,0.007911,2

In [58]:
lose.isna().sum()

year               0
state              0
state_po           1
county             0
FIPS               0
office             0
candidate          0
party             32
candidatevotes     1
totalvotes         0
version            0
pctvotes           1
sorter             0
dtype: int64

In [59]:
lose = lose.drop(columns = ['year', 'state', 'office', 'version'])
lose

,state_po,county,FIPS,candidate,party,candidatevotes,totalvotes,pctvotes,sorter
40517,AL,Autauga,01001,Hillary Clinton,democrat,5936.0,24973,0.237697,2
40520,AL,Baldwin,01003,Hillary Clinton,democrat,18458.0,95215,0.193856,2
40523,AL,Barbour,01005,Hillary Clinton,democrat,4871.0,10469,0.465278,2
40526,AL,Bibb,01007,Hillary Clinton,democrat,1874.0,8819,0.212496,2
40529,AL,Blount,01009,Hillary Clinton,democrat,2156.0,25588,0.084258,2
...,...,...,...,...,...,...,...,...,...
50510,AK,District 37,02037,Donald Trump,republican,1938.0,5062,0.382853,2
50514,AK,District 38,02038,Other,NaN,1194.0,5095,0.234347,2
50516,AK,District 39,02039,Donald Trump,republican,1405.0,5639,0.249158,2
50519,AK,District 40,02040,Donald Trump,republican,1377.0,4610,0.298698,2
50522,NaN,District 99,02099,Donald Trump,republican,40.0,5056,0.007911,2

In [60]:
lose.isna().sum()

state_po           1
county             0
FIPS               0
candidate          0
party             32
candidatevotes     1
totalvotes         0
pctvotes           1
sorter             0
dtype: int64

In [61]:
losed = lose[lose.party == 'democrat']
loser = lose[lose.party == 'republican']

In [62]:
losed['perc_dem'] = losed['pctvotes']
losed['votes_dem'] = losed['candidatevotes']
loser['perc_rep'] = loser['pctvotes']
loser['votes_rep'] = loser['candidatevotes']

In [63]:
losed

,state_po,county,FIPS,candidate,party,candidatevotes,totalvotes,pctvotes,sorter,perc_dem,votes_dem
40517,AL,Autauga,01001,Hillary Clinton,democrat,5936.0,24973,0.237697,2,0.237697,5936.0
40520,AL,Baldwin,01003,Hillary Clinton,democrat,18458.0,95215,0.193856,2,0.193856,18458.0
40523,AL,Barbour,01005,Hillary Clinton,democrat,4871.0,10469,0.465278,2,0.465278,4871.0
40526,AL,Bibb,01007,Hillary Clinton,democrat,1874.0,8819,0.212496,2,0.212496,1874.0
40529,AL,Blount,01009,Hillary Clinton,democrat,2156.0,25588,0.084258,2,0.084258,2156.0
...,...,...,...,...,...,...,...,...,...,...,...
50488,AK,District 30,02030,Hillary Clinton,democrat,1816.0,8950,0.202905,2,0.202905,1816.0
50491,AK,District 31,02031,Hillary Clinton,democrat,3466.0,10182,0.340405,2,0.340405,3466.0
50494,AK,District 32,02032,Hillary Clinton,democrat,2701.0,7472,0.361483,2,0.361483,2701.0
50503,AK,District 35,02035,Hillary Clinton,democrat,3749.0,9042,0.414621,2,0.414621,3749.0
50506,AK,District 36,02036,Hillary Clinton,democrat,2693.0,8264,0.325871,2,0.325871,2693.0

In [64]:
one = winr.merge(losed[['FIPS', 'perc_dem', 'votes_dem']], on="FIPS")

In [65]:
one

,state_po,county,FIPS,candidate,party,candidatevotes,totalvotes,pctvotes,sorter,perc_rep,votes_rep,perc_dem,votes_dem
0,AL,Autauga,01001,Donald Trump,republican,18172.0,24973,0.727666,1,0.727666,18172.0,0.237697,5936.0
1,AL,Baldwin,01003,Donald Trump,republican,72883.0,95215,0.765457,1,0.765457,72883.0,0.193856,18458.0
2,AL,Barbour,01005,Donald Trump,republican,5454.0,10469,0.520967,1,0.520967,5454.0,0.465278,4871.0
3,AL,Bibb,01007,Donald Trump,republican,6738.0,8819,0.764032,1,0.764032,6738.0,0.212496,1874.0
4,AL,Blount,01009,Donald Trump,republican,22859.0,25588,0.893348,1,0.893348,22859.0,0.084258,2156.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2615,AK,District 30,02030,Donald Trump,republican,6194.0,8950,0.692067,1,0.692067,6194.0,0.202905,1816.0
2616,AK,District 31,02031,Donald Trump,republican,5617.0,10182,0.551660,1,0.551660,5617.0,0.340405,3466.0
2617,AK,District 32,02032,Donald Trump,republican,3764.0,7472,0.503747,1,0.503747,3764.0,0.361483,2701.0
2618,AK,District 35,02035,Donald Trump,republican,4105.0,9042,0.453992,1,0.453992,4105.0,0.414621,3749.0
2619,AK,District 36,02036,Donald Trump,republican,4460.0,8264,0.539690,1,0.539690,4460.0,0.325871,2693.0

In [66]:
two = wind.merge(loser[['FIPS', 'perc_rep', 'votes_rep']], on="FIPS")

In [67]:
two

,state_po,county,FIPS,candidate,party,candidatevotes,totalvotes,pctvotes,sorter,perc_dem,votes_dem,perc_rep,votes_rep
0,AL,Bullock,01011,Hillary Clinton,democrat,3530.0,4710,0.749469,1,0.749469,3530.0,0.242038,1140.0
1,AL,Dallas,01047,Hillary Clinton,democrat,12836.0,18792,0.683057,1,0.683057,12836.0,0.308057,5789.0
2,AL,Greene,01063,Hillary Clinton,democrat,4013.0,4880,0.822336,1,0.822336,4013.0,0.171721,838.0
3,AL,Hale,01065,Hillary Clinton,democrat,4775.0,8040,0.593905,1,0.593905,4775.0,0.394652,3173.0
4,AL,Jefferson,01073,Hillary Clinton,democrat,156873.0,304191,0.515706,1,0.515706,156873.0,0.443037,134768.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,AK,District 33,02033,Hillary Clinton,democrat,5978.0,9934,0.601772,1,0.601772,5978.0,0.275015,2732.0
497,AK,District 34,02034,Hillary Clinton,democrat,4220.0,9431,0.447461,1,0.447461,4220.0,0.419362,3955.0
498,AK,District 37,02037,Hillary Clinton,democrat,2421.0,5062,0.478269,1,0.478269,2421.0,0.382853,1938.0
499,AK,District 39,02039,Hillary Clinton,democrat,3142.0,5639,0.557191,1,0.557191,3142.0,0.249158,1405.0
500,AK,District 40,02040,Hillary Clinton,democrat,2338.0,4610,0.507158,1,0.507158,2338.0,0.298698,1377.0

In [68]:
df = pd.concat([one, two])

In [69]:
df

,state_po,county,FIPS,candidate,party,candidatevotes,totalvotes,pctvotes,sorter,perc_rep,votes_rep,perc_dem,votes_dem
0,AL,Autauga,01001,Donald Trump,republican,18172.0,24973,0.727666,1,0.727666,18172.0,0.237697,5936.0
1,AL,Baldwin,01003,Donald Trump,republican,72883.0,95215,0.765457,1,0.765457,72883.0,0.193856,18458.0
2,AL,Barbour,01005,Donald Trump,republican,5454.0,10469,0.520967,1,0.520967,5454.0,0.465278,4871.0
3,AL,Bibb,01007,Donald Trump,republican,6738.0,8819,0.764032,1,0.764032,6738.0,0.212496,1874.0
4,AL,Blount,01009,Donald Trump,republican,22859.0,25588,0.893348,1,0.893348,22859.0,0.084258,2156.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,AK,District 33,02033,Hillary Clinton,democrat,5978.0,9934,0.601772,1,0.275015,2732.0,0.601772,5978.0
497,AK,District 34,02034,Hillary Clinton,democrat,4220.0,9431,0.447461,1,0.419362,3955.0,0.447461,4220.0
498,AK,District 37,02037,Hillary Clinton,democrat,2421.0,5062,0.478269,1,0.382853,1938.0,0.478269,2421.0
499,AK,District 39,02039,Hillary Clinton,democrat,3142.0,5639,0.557191,1,0.249158,1405.0,0.557191,3142.0
500,AK,District 40,02040,Hillary Clinton,democrat,2338.0,4610,0.507158,1,0.298698,1377.0,0.507158,2338.0

In [70]:
df['votes_diff'] = df['votes_dem'] - df['votes_rep']
df['pct_diff'] = df['votes_diff'] / df['totalvotes']
df['pct_rep'] = round(df.perc_rep * 100, 2)
df['pct_dem'] = round(df.perc_dem * 100, 2)
df['pct_dif'] = round(df.pct_diff * 100, 2)
df = df.drop(columns=['state_po', 'sorter', 'perc_dem', 'perc_rep', 'pct_diff'])

In [79]:
df = df.drop(columns=['pctvotes', 'candidatevotes'])

In [81]:
df.head()

,county,FIPS,candidate,party,totalvotes,votes_rep,votes_dem,votes_diff,pct_rep,pct_dem,pct_dif
0,Autauga,01001,Donald Trump,republican,24973,18172.0,5936.0,-12236.0,72.77,23.77,-49.00
1,Baldwin,01003,Donald Trump,republican,95215,72883.0,18458.0,-54425.0,76.55,19.39,-57.16
2,Barbour,01005,Donald Trump,republican,10469,5454.0,4871.0,-583.0,52.10,46.53,-5.57
3,Bibb,01007,Donald Trump,republican,8819,6738.0,1874.0,-4864.0,76.40,21.25,-55.15
4,Blount,01009,Donald Trump,republican,25588,22859.0,2156.0,-20703.0,89.33,8.43,-80.91

In [93]:
df_2016 = df.copy()

In [94]:
df_2016.to_csv("2016.csv")

In [82]:
df_year = pd.read_csv("countypres_2000-2016.csv")
df_year

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208,20191203
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208,20191203
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208,20191203
3,2000,Alabama,AL,Autauga,1001.0,President,Other,NaN,113.0,17208,20191203
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480,20191203
...,...,...,...,...,...,...,...,...,...,...,...
50519,2016,Alaska,AK,District 40,2040.0,President,Donald Trump,republican,1377.0,4610,20191203
50520,2016,Alaska,AK,District 40,2040.0,President,Other,NaN,895.0,4610,20191203
50521,2016,Alaska,NaN,District 99,2099.0,President,Hillary Clinton,democrat,274.0,5056,20191203
50522,2016,Alaska,NaN,District 99,2099.0,President,Donald Trump,republican,40.0,5056,20191203
50523,2016,Alaska,NaN,District 99,2099.0,President,Other,NaN,28.0,5056,20191203

In [86]:
def preprocess_by_year(current_year, df):
    df['pctvotes'] = df.candidatevotes / df.totalvotes
    df = df[df.year == current_year]
    df = df.dropna(subset=['FIPS'])
    df.FIPS = df.FIPS.apply(lambda x: int(x))
    df['sorter'] = df.sort_values(['candidatevotes'], ascending=False)\
                    .groupby(['FIPS'])\
                    .cumcount() + 1
    df.FIPS = df.FIPS.apply(lambda x: str(x))
    df.FIPS = df.FIPS.apply(lambda x: '0' + x if len(x)==4 else x)
    lose = df[df.sorter == 2]
    lose = lose.drop(columns = ['year', 'state', 'office', 'version'])
    losed = lose[lose.party == 'democrat']
    loser = lose[lose.party == 'republican']
    losed['perc_dem'] = round(losed['pctvotes']*100, 2)
    losed['votes_dem'] = losed['candidatevotes']
    losed = losed.drop(columns=['candidatevotes', 'pctvotes', 'sorter', 'party'])
    loser['perc_rep'] = round(loser['pctvotes']*100, 2)
    loser['votes_rep'] = loser['candidatevotes']
    loser = loser.drop(columns=['candidatevotes', 'pctvotes', 'sorter', 'party'])
    win = df[df.sorter == 1]
    win = win.drop(columns = ['year', 'state', 'office', 'version'])
    wind = win[win.party == 'democrat']
    winr = win[win.party == 'republican']
    wind['perc_dem'] = round(wind['pctvotes']*100, 2)
    wind['votes_dem'] = wind['candidatevotes']
    wind = wind.drop(columns=['candidatevotes', 'pctvotes', 'sorter', 'party'])
    winr['perc_rep'] = round(winr['pctvotes']*100, 2)
    winr['votes_rep'] = winr['candidatevotes']
    winr = winr.drop(columns=['candidatevotes', 'party', 'pctvotes', 'sorter']) 
    one = winr.merge(losed[['FIPS', 'perc_dem', 'votes_dem']], how='left', on="FIPS")
    two = wind.merge(loser[['FIPS', 'perc_rep', 'votes_rep']], how='left', on="FIPS")
    df = pd.concat([one, two])
    df['votes_diff'] = df['votes_dem'] - df['votes_rep']
    df['pct_diff'] = round((df['votes_diff'] / df['totalvotes'])*100, 2)
    df.sort_values(by=['FIPS'])
    return df

In [95]:
df_2012 = preprocess_by_year(2012, df_year)

In [96]:
df_2012

,state_po,county,FIPS,candidate,totalvotes,perc_rep,votes_rep,perc_dem,votes_dem,votes_diff,pct_diff
0,AL,Autauga,01001,Mitt Romney,23932,72.62,17379.0,26.59,6363.0,-11016.0,-46.03
1,AL,Baldwin,01003,Mitt Romney,85338,77.36,66016.0,21.59,18424.0,-47592.0,-55.77
2,AL,Bibb,01007,Mitt Romney,8420,72.83,6132.0,26.15,2202.0,-3930.0,-46.67
3,AL,Blount,01009,Mitt Romney,24006,86.47,20757.0,12.37,2970.0,-17787.0,-74.09
4,AL,Butler,01013,Mitt Romney,9496,53.57,5087.0,46.06,4374.0,-713.0,-7.51
...,...,...,...,...,...,...,...,...,...,...,...
705,AK,District 37,02037,Barack Obama,4335,34.99,1517.0,60.69,2631.0,1114.0,25.70
706,AK,District 38,02038,Barack Obama,6814,33.15,2259.0,60.18,4101.0,1842.0,27.03
707,AK,District 39,02039,Barack Obama,6560,39.12,2566.0,55.56,3645.0,1079.0,16.45
708,AK,District 40,02040,Barack Obama,4235,31.81,1347.0,64.16,2717.0,1370.0,32.35
709,NaN,District 99,02099,Barack Obama,74045,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
df_2012.to_csv("2012.csv")

In [112]:
df_2012.candidate.value_counts()

Mitt Romney     2445
Barack Obama     710
Name: candidate, dtype: int64

In [98]:
df_2008 = preprocess_by_year(2008, df_year)
df_2008.to_csv("2008.csv")

In [107]:
df_2008.head()

,state_po,county,FIPS,candidate,totalvotes,perc_rep,votes_rep,perc_dem,votes_dem,votes_diff,pct_diff
0,AL,Autauga,01001,John McCain,23641,73.61,17403.0,25.77,6093.0,-11310.0,-47.84
1,AL,Baldwin,01003,John McCain,81413,75.26,61271.0,23.81,19386.0,-41885.0,-51.45
2,AL,Barbour,01005,John McCain,11630,50.44,5866.0,48.99,5697.0,-169.0,-1.45
3,AL,Bibb,01007,John McCain,8644,72.44,6262.0,26.60,2299.0,-3963.0,-45.85
4,AL,Blount,01009,John McCain,24267,84.02,20389.0,14.51,3522.0,-16867.0,-69.51

In [106]:
df_2008.candidate.value_counts()

John McCain     2271
Barack Obama     884
Name: candidate, dtype: int64

In [100]:
df_2004 = preprocess_by_year(2004, df_year)
df_2004.to_csv("2004.csv")

In [108]:
df_2004.head()

,state_po,county,FIPS,candidate,totalvotes,perc_rep,votes_rep,perc_dem,votes_dem,votes_diff,pct_diff
0,AL,Autauga,01001,George W. Bush,20081,75.67,15196.0,23.69,4758.0,-10438.0,-51.98
1,AL,Baldwin,01003,George W. Bush,69320,76.42,52971.0,22.50,15599.0,-37372.0,-53.91
2,AL,Barbour,01005,George W. Bush,10777,54.74,5899.0,44.84,4832.0,-1067.0,-9.90
3,AL,Bibb,01007,George W. Bush,7600,72.00,5472.0,27.49,2089.0,-3383.0,-44.51
4,AL,Blount,01009,George W. Bush,21504,80.85,17386.0,18.31,3938.0,-13448.0,-62.54

In [110]:
df_2004.candidate.value_counts()

George W. Bush    2568
John Kerry         587
Name: candidate, dtype: int64

In [102]:
df_2000 = preprocess_by_year(2000, df_year)
df_2000.to_csv("2000.csv")

In [111]:
df_2000.candidate.value_counts()

George W. Bush    2478
Al Gore            676
Name: candidate, dtype: int64